@font-face {
  font-family: "TTLakes-Reg";
  src: url("./fonts/TTLakes-Regular.woff") format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "TTLakes-Bold";
  src: url("./fonts/TTLakes-Bold.woff") format('woff');
  font-weight: 700;
}

body {
  font-family: "TTLakes-Reg";
}
.service-title {
  font-family: "TTlakes-Bold";
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  padding-top: 24px;
  margin-top: 0;
}
@media (width > 1120px) {
  .service-title {
    padding-top: 42px;
  }
}

.hidden {
  display: none;
}