@font-face {
    font-family: "TTLakes-Reg";
    src: url('/public/fonts/TTLakes-Regular.woff');
    font-weight: 400;
}
@font-face {
    font-family: "TTLakes-Bold";
    src: url('/public/fonts/TTLakes-Bold.woff');
    font-weight: 700;
}

body {
    font-family: "TTLakes-Reg";
}