.read-block {
    padding: 0 16px 0 24px;
}

.btn-arrow {
    cursor: pointer;
    border: none;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: all .4s;

    &:hover {
        color: $color-font;
        transition: all .4s;
    }
}

.read-img {
    padding: 16px 0 35px;
    margin: 0;
}
.read-img__service {
    max-width: 100%;
}
.read-block-wrapper {
    display: flex;
    flex-direction: column;
}
.read-text {
    margin-top: 24px;
}
.read-text__tablet {
    display: none;
}
@media (width >= 570px) {
    .read-block-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 48px;
    }
    .read-text {
        max-width: 320px;
    }
    .read-img {
        padding: 24px 25px 40px 0;

    }
    .read-img__service {
        height: 208px;
        width: 360px;
    }
    .read-text__tablet {
display: block;
    }
}