$btn-color: rgb(255, 62, 121);
$btn-color__hover: rgb(246, 111, 151);
$color-line: rgb(234, 234, 234);
$color-light: #fff;
$color-spec: rgb(217, 255, 245);
$color-font: rgb(126, 126, 130);
$bg-color: rgb(248, 248, 248);